.content-table {
    position: relative;
}

.flex-row {
    display: flex;
    justify-content: flex-end;
}

.cell {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    width: 15%;
}

.cell-color-bisque {
    background-color: bisque;
}

.cell-color-grey {
    background-color: lightgray;
    align-content: center;
    text-align: -moz-center;
}

.button-add {
    align-self: center;
    position: absolute;
    left: 30%;
    bottom:-20% ;
}

