.main-container {
    display: flex;
}

.cover {
    width: 20%;
    height:  600px;
    background-color: aqua;
    border: 1px dashed red;
}

.table-values {
    width: 20%;
    height: 600px;
    background-color: olive;
    border: 1px dashed blue;
}

/*.buttons-area {*/
/*    background-color: lightblue;*/
/*    border: 1px dashed orange;*/
/*    width: 60%;*/
/*    height: 250px;*/
/*}*/

.value-cell {
    margin-left: 10px;
    margin-right: 10px;
    width: 93%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
}

.content-table {
    position: relative;
}

.flex-row {
    display: flex;
    justify-content: flex-end;
}

.cell {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    width: 15%;
}

.cell-color-bisque {
    background-color: bisque;
}

.cell-color-grey {
    background-color: lightgray;
    align-content: center;
    text-align: -moz-center;
}

.button-add {
    align-self: center;
    position: absolute;
    left: 30%;
    bottom:-20% ;
}
